* {
    background-color: #c6def1;
}
#todo {
    display: flex;
    justify-content: center;
    text-align: center;
}

input#chore{
    margin-top: 40px;
    border-color:#f7f8f8;
}

button {
    background-color: #f2c6de;
    color:black;
    border-radius: 5px;
}

#entrtxt {
    border-radius: 5px;
    background-color: #f7f8f8;
    margin: 25px;
    width: 350px;
    min-height: 100px;
}

ul li {
    text-align: left;
}

button.borrar {
    float: right;
    background-color: #f2c6de;
    color: aliceblue;
    border: 0;
    border-radius: 8px;
    padding: 3px 15px 3px 15px ;
}

ul#list1 {
    padding: 0px 0px 0px 0px;   
}

.element{
    border: 0;
    background-color: #faedcb;
    list-style-type: none;
    padding: 10px;
} 
