* {
    background-color: #c6def1;
    
}
#todo {
    display: flex;
    justify-content: center;
    text-align: center;
}

input#chore{
    margin-top: 40px;
}

#entrtxt {
    border-radius: 5px;
    background-color: #f7f8f8;
    margin: 25px;
    width: 350px;
    min-height: 100px;
}

ul li {
    text-align: left;
}

ul li button {
    background-color: red;
    display:flexbox;
}

ul#list1 {
    padding: 0 0 0 0;   
}

.element{
    border-style:groove;
    display: block;
    background-color: #faedcb;
    min-height: 0px;
    list-style-type: none;
    box-sizing: border-box;
    padding: 10px;
} 
